# ./public/.htaccess
AddDefaultCharset utf-8
Header set X-Content-Type-Options "nosniff"
Header set X-Frame-Options "SAMEORIGIN"
Header set Referrer-Policy "strict-origin-when-cross-origin"
<IfModule mod_headers.c>
  Header always set Access-Control-Allow-Credentials "true"
</IfModule>
